h1 {
    color:blue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color:aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.destacado{
    color:yellowgreen;
    font-weight: bold;
}

.elemento{
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    }

.cuadro{
    padding: auto;
}


body {
  font-family: 'Segoe UI', sans-serif;
}

.card {
  border-radius: 15px;
  background-color: #ffffff;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.form-control {
  border-radius: 8px;
  border: 1px solid #ced4da;
}
.container{
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.fondo-responsivo {
  background-image: url('imágenes/fondo3.png');
  background-size: cover;           /* Cubre toda la pantalla */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 600px) {
  .fondo-responsivo {
    background-size: contain;       /* Evita cortes en móviles */
  }
}
.fondoresponsivo2 {
  background-image: url('imágenes/fondo2.png');
  background-size: cover;           /* Cubre toda la pantalla */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 600px) {
  .fondo-responsivo {
    background-size: contain;       /* Evita cortes en móviles */
  }
}

.titulo-principal {
  color: #e8f1f3;         /* Color turquesa */
  font-size: 3rem;      /* Tamaño grande */
  font-weight: bold;      /* Negrita */
  text-align: center;     /* Centrado */
}
