h1 {
    color:blue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color:aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.destacado{
    color:yellowgreen;
    font-weight: bold;
}

.elemento{
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    }

.cuadro{
    padding: auto;
}


.body {
    min-height: 100vh;
    margin: 0;
}

body {
  background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(24, 24, 217, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.footer-alke {
  background-color: #2563bf;
  padding: 10px 30px;
  margin-top: auto; /* Empuja el footer al fondo del contenedor flex */
  width: 100%;
  font-size: 0.8rem;
}
ul {
  list-style: none;
  padding-left: 0;
}
